@{
	Layout = null;
}

@{
    if (ViewBag.Products != null)
    {
        foreach (var p in ViewBag.Products)
        {
            <div class="col-4 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://product.hstatic.net/200000722513/product/lg-gram-style-fix_4013ad0ecc9c449f9611fb4f31069a92_grande.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body">
                        <div class="">
                            <!-- Product name-->
                            <h5 class="fw-bolder">
                                <a href="@Url.Action("Index", "Product", new { id = p.Id })" class="text-decoration-none">@p.Name</a>
                            </h5>
                            <!-- Product price-->
                            <span style="font-size:20px; color:red; font-weight:bold;">@p.Price.ToString("N0") đ</span>
                        </div>
                    </div>
                    <div class="proloop-rating" style="padding:5px 16px 10px ;display: flex; align-items: center; font-size: 12px;">
                        <span style="color: #FF8A00; font-weight: 600">0.0</span>
                        <span class="icon">
                            <svg viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.09627 11.6195L2.82735 8.16864L0.268563 5.80414C0.268563 5.80414 -0.096986 5.48462 0.0248693 5.03728C0.146725 4.58994 0.634105 4.58994 0.634105 4.58994L4.04582 4.27041L5.38614 1.01124C5.38614 1.01124 5.5689 0.5 5.99538 0.5C6.42185 0.5 6.60461 1.01124 6.60461 1.01124L7.94493 4.27041L11.4785 4.58994C11.4785 4.58994 11.844 4.65385 11.9659 5.03728C12.0877 5.42071 11.844 5.67633 11.844 5.67633L9.1634 8.16864L9.89448 11.7473C9.89448 11.7473 10.0163 12.1308 9.71171 12.3864C9.40709 12.642 8.91971 12.3864 8.91971 12.3864L5.99538 10.5331L3.13197 12.3864C3.13197 12.3864 2.70551 12.642 2.33996 12.3864C1.97442 12.1308 2.09627 11.6195 2.09627 11.6195Z" fill="#FF8A00"></path>
                            </svg>
                        </span>
                        <span class="count">(0 đánh giá)</span>
                    </div>
                </div>
            </div>
        }
    }
}